body{
    background-color: #96dce7;
    color:rgb(223, 227, 99);
    font: arial 16px;
}
img {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Картинка заполняет квадрат без искажения лица */
    border-radius: 50%; /* Делает картинку круглой */
}
h1 {
    background: linear-gradient(45deg, #d6ba8c, #d4e360); /* Цвета градиента */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
}
body {
    font-family: 'Comfortaa', cursive; /* Мягкий и закругленный шрифт */
}